GOOGLE_SERVICE_ACCOUNT_FILE=/app/config/google-service-account.json
GOOGLE_SPREADSHEET_ID=
GOOGLE_WORKSHEET_WORKOUTS=workouts
GOOGLE_WORKSHEET_WORKOUT_SETS=workout_sets
GOOGLE_WORKSHEET_MEALS=meals
GOOGLE_WORKSHEET_BODY_METRICS=body_metrics
GOOGLE_WORKSHEET_SLEEP=sleep
